/* DISEÑO RESPONSIVO (MEDIA QUERIES)
*/

/* 1. Móvil (Smartphones)*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        padding: 10px;
        position: relative !important;
    }

    body {
        padding-top: 0 !important;
    }

    .menu-toggle-label {
        display: block !important; 
        align-self: flex-end;
        margin-top: -35px;
    }

    header nav menu {
        display: none; 
        flex-direction: column;
        align-items: center;
        gap: 10px;
        margin-top: 15px;
        width: 100%;
    }

    #menu-toggle:checked ~ .nav-principal menu {
        display: flex;
    }

    /* Catálogo en móvil: apilado verticalmente */
    main.layout-catalogo {
        flex-direction: column;
        padding: 10px;
    }

    aside[aria-label="Panel de Filtros"] {
        flex: none;
        width: 100%;
        position: static; /* Sin sticky en móvil */
        max-height: none;
        overflow-y: visible;
    }

    section[aria-label="Top Ventas"],
    section[aria-label="Resultados del catálogo"] {
        grid-template-columns: 1fr;
    }

    footer {
        flex-direction: column;
        text-align: center;
        gap: 20px;
    }
    
    footer address {
        flex-basis: 100%;
    }
}

/* 2. Tablet*/
@media (min-width: 769px) and (max-width: 1024px) {
    header nav menu {
        gap: 15px;
        font-size: 0.9rem;
    }

    section[aria-label="Top Ventas"],
    section[aria-label="Resultados del catálogo"] {
        grid-template-columns: repeat(2, 1fr);
    }
}

/* 3. Escritorio */
@media (min-width: 1025px) {
    body {
        background-attachment: fixed;
    }
}